.item {
  list-style: none;
  margin-bottom: 6px;
}
.checkbox {
  display: none;
}


.checkbox__text {
  background-color: transparent;
  flex-grow: 1;
  border: 0;
  outline: 0;
  color: inherit;
}
.card {
  align-items: center;
  background-color: #B8B8FF;
  border-radius: 12px;
  color: #F8F7FF;
  display: flex;
  gap: 8px;
  max-width: 300px;
  padding: 16px;
}

.active {
  background-color: grey;
}
